[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
pytest = "*"
psycopg2-binary = "*"
python-jose = "*"
pydantic-settings = "*"
email-validator = "*"
httpx = "*"
python-multipart = "*"
passlib = "==1.7.4"
bcrypt = "==3.2.0"

[dev-packages]

[requires]
python_version = "3.9"
